<html>
  <head>
    <title>Product Upload Progress</title>
    {% load static %}
    <script type="text/javascript" src="{% static  'jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'django_eventstream/eventsource.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'django_eventstream/reconnecting-eventsource.js' %}"></script>
    <script type="text/javascript" src="{% static 'main.js' %}"></script>
    <!--<script type="text/javascript">
      eventSource = new EventSource("/events/");
      eventSource.addEventListener('message', function (e) {
          console.log(e.data);
          $(".
      });
    </script>
    -->
  </head>
  <body>
    <h1>Product Upload Progress</h1>
    <div id="message">Products are uploading...</div>
  </body>
</html>
