{% extends 'base.html' %}

{% load static %}

{% block body %}
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status"></div>
        <div class="text-muted" id="message">About to start processing products...</div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    $(document).ready(function() {
      eventSource = new EventSource("/events/{{ task_id }}/");
      eventSource.addEventListener('completed', function(e) {
        console.log(e.data);
        window.location.replace("{% url 'products-search' %}");
      });
      eventSource.addEventListener('message', function (e) {
        $("#message").text(e.data);
      });
    });
  </script>
{% endblock %}
